   body {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 100vh;
      background-color: #f1f1f1;
    }
.square {
   border: 4px outset red;
      background-color: #ADD8E6;
      width: 600px;
      height: 450px;
   box-shadow: 2px 2px 20px 2px #ff0404 ;
    }

input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #f1f1f1;
 }  
textarea {  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #f1f1f1;
  }
select {
  border: res;
  border-radius: 4px;
  background-color: #f1f1f1;
} 
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 16px;
}
